@font-face {
    font-family: "Gotham";
    src: local("Gotham"),
         url("../../fonts/Gotham-Book.woff2") format("woff2"),
         url("../../fonts/Gotham-Book.woff") format("woff"),
         url("../../fonts/Gotham-Book.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: local("Gotham"),
         url("../../fonts/Gotham-Medium.woff2") format("woff2"),
         url("../../fonts/Gotham-Medium.woff") format("woff"),
         url("../../fonts/Gotham-Medium.ttf") format("ttf");
    font-style: normal;     
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Gotham";
    src: local("Gotham"),
         url("../../fonts/Gotham-Bold.woff2") format("woff2"),
         url("../../fonts/Gotham-Bold.woff") format("woff"),
         url("../../fonts/Gotham-Bold.otf") format("otf");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "MyriadPro";
    src: local("MyriadPro"),
         url("../../fonts/MYRIADPRO-REGULAR.woff2") format("woff2"),
         url("../../fonts/MYRIADPRO-REGULAR.woff") format("woff"),
         url("../../fonts/MYRIADPRO-REGULAR.otf") format("otf");
    font-style: normal;     
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
         url("../../fonts/Roboto-Regular.woff2") format("woff2"),
         url("../../fonts/Roboto-Regular.woff") format("woff"),
         url("../../fonts/Roboto-Regular.ttf") format("ttf");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: local("Roboto"),
         url("../../fonts/Roboto-BoldCondensed.woff2") format("woff2"),
         url("../../fonts/Roboto-BoldCondensed.woff") format("woff"),
         url("../../fonts/Roboto-BoldCondensed.ttf") format("ttf");
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Open-Sans";
    src: local("Open-Sans"),
         url("../../fonts/OpenSans-Light.woff2") format("woff2"),
         url("../../fonts/OpenSans-Light.woff") format("woff"),
         url("../../fonts/OpenSans-Light.ttf") format("ttf");
         font-style: normal;
         font-weight: normal;
         font-display: swap;
}