body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1157px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("../../fonts/GothamBook.woff2") format("woff2"), url("../../fonts/GothamBook.woff") format("woff"), url("../../fonts/GothamBook.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("../../fonts/Gotham-Medium.woff2") format("woff2"), url("../../fonts/Gotham-Medium.woff") format("woff"), url("../../fonts/Gotham-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("../../fonts/Gotham-Bold.woff2") format("woff2"), url("../../fonts/Gotham-Bold.woff") format("woff"), url("../../fonts/Gotham-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "MyriadPro";
  src: local("MyriadPro"), url("../../fonts/MYRIADPRO-REGULAR.woff2") format("woff2"), url("../../fonts/MYRIADPRO-REGULAR.woff") format("woff"), url("../../fonts/MYRIADPRO-REGULAR.otf") format("otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../../fonts/Roboto-BoldCondensed.woff2") format("woff2"), url("../../fonts/Roboto-BoldCondensed.woff") format("woff"), url("../../fonts/Roboto-BoldCondensed.ttf") format("ttf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Open-Sans";
  src: local("Open-Sans"), url("../../fonts/OpenSans-Light.woff2") format("woff2"), url("../../fonts/OpenSans-Light.woff") format("woff"), url("../../fonts/OpenSans-Light.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
.hero {
  overflow: hidden;
  background: url("../../images/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 937px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.hero__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero__top-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: 340px;
  margin-bottom: 100px;
}
.hero__top-wrap h1 {
  margin: 20px;
  font-family: "Gotham";
  font-weight: bold;
  font-style: normal;
  color: white;
  font-size: 120px;
  text-transform: uppercase;
}
.hero__top-wrap p {
  margin: 20px;
  font-family: "Gotham";
  font-weight: 600;
  font-style: normal;
  color: #0F749D;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 18px;
}
.hero__bottom-wrap {
  margin: 0 auto;
}
.hero__bottom-wrap p {
  font-family: "Open-Sans";
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  color: white;
  margin: 0;
}
.hero__bottom-text {
  margin: 20px auto;
}
.hero__down-arrow-wrap {
  width: 70px;
  height: 70px;
  margin: 20px auto;
  cursor: pointer;
}
.hero__down-arrow {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  z-index: 99999;
  border-bottom: 1px solid gray;
}
.header__wrapper {
  display: flex;
  gap: 320px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.header__logo-wrap {
  max-width: 60px;
  width: 100%;
  cursor: pointer;
}
.header__logo {
  width: 100%;
  height: 100%;
}
.header__menu-wrapper {
  display: flex;
  align-items: center;
}
.header__menu {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 23px;
  font-family: "MyriadPro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #F5F5F5;
  text-decoration: none;
  transition: 0.2s;
}
.header__menu:hover {
  border-bottom: 7px solid #11749E;
}
.header__social-wrap {
  margin-top: 5px;
}
.header__social {
  padding: 10px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=style.css.map */