.agency{
    background-color: #11749E;
    padding-top: 30px;
    padding-bottom: 30px;
    
    &__title{
        text-align: center;
        margin-top: 150px;
        margin-bottom: 150px;
    }
    &__title-text{
        color: #ffff;
        font-family: "Gotham";
        font-size: 38px;
        font-style: normal;
        font-weight: 550;
        text-transform: uppercase;
        position: relative;
        z-index: 555;

        &::before{
            content: "W";
            color: #3D8DB0;
            font-family: "Roboto";
            font-size: 260px;
            font-style: normal;
            font-weight: bold;
            position: absolute;
            text-align: center;
            top: -130px;
            left: 480px;
            z-index: -1;
        }
    }
    &__feature-content{
        display: flex;
        gap: 30px;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    &__feature-icon{
        background: #2F84A9;
        max-width: 150px;
        height: 150px;
        border-radius: 50%;
        margin: auto;
    }
    &__icon{
        max-width: 48px;
        height: 48px;
        margin: auto;
    }
    &__feature-title-wrap{
        text-align: center;
    }
    &__feature-title{
        font-family: "Gotham";
        font-style: normal;     
        font-weight: 600;
        color: #ffffff;
        font-size: 19px;
        text-transform: uppercase;
    }
    &__feature-text{
        text-align: center;
        font-family: "Gotham";
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        font-size: 15px;
        line-height: 25px;
        
    }
}
